.Rproj.user
.Rhistory
.RData
.Ruserdata
tex2pdf*
data/*picea*
data/*abies*
data/dendrochrono_raw.txt
data/dendrochronologies.Rdata
proposal/Proposal_TS_Project_files/
Time_Series_Final_Project.Rproj
Final_Project_files/
figures/
